@model IEnumerable<StackSwapApplication.Models.Card>

@{
    ViewData["Title"] = "GetCardByName";
    Layout = "";
}

<!DOCKTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/StyleShowCards.css" asp-append-version="true" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
        <header>
                <img src="~/images/StackSwapLogo.jpg" alt="StackSwapLogo" />
                <div class="btn-head">
                    <a asp-action="ShowCards" asp-controller="TradingCards" class="btn btn-primary">Cards Deck</a>
                </div>

        </header>
        <h2 class="h2Style">@ViewBag.ChampName Collection</h2>
        <table class="table font">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Champion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CardTier)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Damage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Magic)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Health)
                    </th>
            
                    <th>
                        Owner
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Champion)
                    </td>
                    <td>
                            @* @Html.DisplayFor(modelItem => item.CardTier) *@

                            @switch (item.CardTier)
                            {
                                case Tier.Tier1:
                                    {
                                    <label>Novice</label>

                                        <br />
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier2:
                                    {
                                    <label>Soldier</label>

                                        <br />
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier3:
                                    {
                                    <label>Warrior</label>

                                        <br />
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier4:
                                    {
                                    <label>Legend</label>

                                        <br />
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier5:
                                    {
                                    <label>Celestial</label>

                                        <br />
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                            }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Damage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Magic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Health)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.Username)
                    </td>
                    
                </tr>
        }
            </tbody>
        </table>
</body>
</html>
