@model StackSwapApplication.ViewModels.ProfileViewModel

<h1>@Model.User!.Name's profile</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <p>Name: @Model.User!.Name</p>
            <p>Username: @Model.User!.Username</p>
            <p>Email: @Model.User!.Email</p>
            <p>Credits: @Model.User!.Credits</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Purchase History</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Card</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Purchases!)
                    {
                        <tr>
                            @* <td>@item.PurchaseCards[0].Card.Champion (@item.PurchaseCards[0].Card.CardTier)</td> *@
                            <td>
                                @foreach(var card in item.PurchaseCards)
                                {
                                    <p>@card.Card.Champion (@card.Card.CardTier)</p>
                                }
                            </td>
                            <td>@item.PurchaseDate.Value.ToString("dd-MM-yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col">
            <h2>Trade History</h2>
            <table class="table">
                <thead>
                    <tr>
                        <td>You offered</td>
                        <td>For</td>
                        <td>Status</td>
                        <td>Date</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Trades!)
                    {
                        <tr>
                            @if(item.SellerId == Model.User!.Id)
                            {
                                <td>
                                    @foreach(var card in item.sellerCardsInfo)
                                    {
                                        <p>@card.Card.Champion (@card.Card.CardTier)</p>
                                    }
                                </td>
                                <td>
                                    @foreach (var card in item.buyerCardsInfo)
                                    {
                                        <p>@card.Card.Champion (@card.Card.CardTier)</p>
                                    }
                                </td>
                            } else
                            {
                                <td>
                                    @foreach (var card in item.buyerCardsInfo)
                                    {
                                        <p>@card.Card.Champion (@card.Card.CardTier)</p>
                                    }
                                </td>
                                <td>
                                    @foreach (var card in item.sellerCardsInfo)
                                    {
                                        <p>@card.Card.Champion (@card.Card.CardTier)</p>
                                    }
                                </td>
                            }
                            <td>
                                @if (item.IsComplete)
                                {
                                    @if (item.IsAccepted)
                                    {
                                        <p>Accepted</p>
                                    }
                                    else
                                    {
                                        <p>Declined</p>
                                    }

                                } else
                                {
                                    <p>Pending</p>
                                }
                            </td>
                            <td>@item.InitatedDate.ToString("dd-MM-yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>