@model StackSwapApplication.ViewModels.AcceptTradeViewModel
@{
    ViewData["Title"] = "AcceptTrade";
}

<header>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</header>

<h1>Trade Accepted</h1>

<h3>Congratulation @Model.Me.Username </h3>

<div class="exgrid_Layout">

    <div class="exgrid_Item">
        <h4>You recieved</h4>

        <table class="tableStyle">
            <thead>
                <tr>

                    <th>

                        Champion
                    </th>
                    <th>
                        Tier
                    </th>
                    <th>
                        Damage
                    </th>
                    <th>
                        Health
                    </th>
                    <th>
                        Magic
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.recievedCards)
                {
                    <tr>
                        <td>
                            @item.Champion

                        </td>

                        <td>
                            @switch (item.CardTier)
                            {
                                case Tier.Tier1:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier2:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier3:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier4:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier5:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                            }

                        </td>
                        <td>
                            <div>@item.Damage</div>
                        </td>
                        <td>
                            <div>@item.Health</div>
                        </td>
                        <td>
                            <div>@item.Magic</div>
                        </td>
                    </tr>



                }
            </tbody>
        </table>
    </div>
    <div class="exgrid_Item">
        <h4>By trading:  </h4>
        <table class="tableStyle">
            <thead>
                <tr>

                    <th>

                        Champion
                    </th>
                    <th>
                        Tier
                    </th>
                    <th>
                        Damage
                    </th>
                    <th>
                        Health
                    </th>
                    <th>
                        Magic
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.tradedCards)
                {
                    <tr>
                        <td>
                            @item.Champion

                        </td>

                        <td>
                            @switch (item.CardTier)
                            {
                                case Tier.Tier1:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier2:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier3:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier4:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier5:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                            }

                        </td>
                        <td>
                            <div>@item.Damage</div>
                        </td>
                        <td>
                            <div>@item.Health</div>
                        </td>
                        <td>
                            <div>@item.Magic</div>
                        </td>

                    </tr>


                }
        </table>
    </div>
    <div />
</div>
<a class="alink" asp-action="ViewMyCards" action="get">View My Cards</a>

