@model StackSwapApplication.ViewModels.TradeViewModel
@{
    ViewData["Title"] = "ProcessTrade";
}


<div class="CardSetGrid">

    <div>
        <h4>@Model.Bidder.Username wants to trade</h4>
        <div class="wrapperGrid">
            <div class="cardDisplay">
                @foreach (var item in Model.BidderCards)
                {
                    <div class="@item.CardTier.ToString()">
                        <div class="newCardName">@item.Champion</div>
                        <div class="newCardTier">
                            @switch (item.CardTier)
                            {
                                case Tier.Tier1:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                                case Tier.Tier2:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                                case Tier.Tier3:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                                case Tier.Tier4:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                                case Tier.Tier5:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                        }
                    </div>

                    <div><p><img src="~/images/damage.png" />@item.Damage <img src="~/images/health.png" />@item.Health <img src="~/images/magic.png" />@item.Magic</p></div>
                </div>
            }
            </div>
    </div>
  </div>
  <div>
    <h4>For you cards: </h4>
    <div class="wrapperGrid">
        <div class="cardDisplay">
            @foreach (var item in Model.MyCards)
            {
                <div class="@item.CardTier.ToString()">
                    <div class="newCardName">@item.Champion</div>
                    <div class="newCardTier">
                        @switch (item.CardTier)
                        {
                            case Tier.Tier1:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier2:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier3:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier4:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier5:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                        }
                    </div>
                    <div><p><img src="~/images/damage.png" />@item.Damage <img src="~/images/health.png" />@item.Health <img src="~/images/magic.png" />@item.Magic</p></div>
                </div>
            }
        </div>
    </div>
  </div>
</div>
<form action="/Trade/AcceptTrade/@Model.Trade.Id" method="get">
    <button class="bttn" type="submit" action="submit">Accept</button>
</form>
<form action="/Trade/RejectTrade/@Model.Trade.Id" method="get">
    <button class="bttn" type="submit" action="submit">Reject</button>
</form>



