@model StackSwapApplication.Models.Trade
@{
    ViewData["Title"] = "ViewTradeRequest";
}
<header>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</header>

<h1>Hello @ViewBag.Me</h1>

<h3>Your trade request has been sent.</h3>

<div>
    <h5>You are trading</h5>
    <div class="wrapperGrid">
        <div class="cardDisplay">
            @foreach (var item in ViewBag.Offered)
            {
                <div class="@item.CardTier.ToString()">
                    <div class="newCardName">@item.Champion</div>
                    <div class="newCardTier">
                        @switch (item.CardTier)
                        {
                            case Tier.Tier1:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier2:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier3:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier4:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier5:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                        }
                    </div>

                    <div><p><img src="~/images/damage.png" />@item.Damage <img src="~/images/health.png" />@item.Health <img src="~/images/magic.png" />@item.Magic</p></div>
                </div>
            }
        </div>
    </div>
</div>
<div>
    <h5>For</h5>
    <div class="wrapperGrid">
        <div class="cardDisplay">
            @foreach (var item in ViewBag.Requested)
            {
                <div class="@item.CardTier.ToString()">
                    <div class="newCardName">@item.Champion</div>
                    <div class="newCardTier">
                        @switch (item.CardTier)
                        {
                            case Tier.Tier1:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier2:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier3:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier4:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier5:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                        }
                    </div>
                    <div><p><img src="~/images/damage.png" />@item.Damage <img src="~/images/health.png" />@item.Health <img src="~/images/magic.png" />@item.Magic</p></div>
                </div>
            }
        </div>
    </div>
</div>
</div>



@* <div class="exgrid_Layout">

    <div class="exgrid_Item">
        <h4>Your attempting to trade: </h4>

        <table class="tableStyle">
            <thead>
                <tr>

                    <th>

                        Champion
                    </th>
                    <th>
                        Tier
                    </th>
                    <th>
                        Damage
                    </th>
                    <th>
                        Health
                    </th>
                    <th>
                        Magic
                    </th>
                    <td>
                        Select
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Offered)
                {
                    <tr>
                        <td>
                            @item.Champion

                        </td>

                        <td>
                            @switch (item.CardTier)
                            {
                                case Tier.Tier1:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier2:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier3:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier4:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier5:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                            }

                        </td>
                        <td>
                            <div>@item.Damage</div>
                        </td>
                        <td>
                            <div>@item.Health</div>
                        </td>
                        <td>
                            <div>@item.Magic</div>
                        </td>
                    </tr>



                }
            </tbody>
        </table>
    </div>
    <div class="exgrid_Item">
        <h4>For: </h4>
        <table class="tableStyle">
            <thead>
                <tr>

                    <th>

                        Champion
                    </th>
                    <th>
                        Tier
                    </th>
                    <th>
                        Damage
                    </th>
                    <th>
                        Health
                    </th>
                    <th>
                        Magic
                    </th>

                    <th>
                        Select
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Requested)
                {
                    <tr>
                        <td>
                            @item.Champion

                        </td>

                        <td>
                            @switch (item.CardTier)
                            {
                                case Tier.Tier1:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier2:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier3:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier4:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                                case Tier.Tier5:
                                    {

                                        <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                        break;
                                    }
                            }

                        </td>
                        <td>
                            <div>@item.Damage</div>
                        </td>
                        <td>
                            <div>@item.Health</div>
                        </td>
                        <td>
                            <div>@item.Magic</div>
                        </td>

                    </tr>


                }
        </table>
    </div>
    <div />
</div>
 *@


