@model StackSwapApplication.Models.Trade
@{
    ViewData["Title"] = "ViewTradeRequest";
}
<header>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</header>

<h1 class="font">Hello @ViewBag.Me</h1>

<h3 class="font">Your trade request has been sent.</h3>

<div>
    <h5 class="font">You are trading</h5>
    <div class="wrapperGrid">
        <div class="cardDisplay">
            @foreach (var item in ViewBag.Offered)
            {
                <div class="@item.CardTier.ToString()">
                    <div class="newCardName">@item.Champion</div>
                    <div class="newCardTier">
                        @switch (item.CardTier)
                        {
                            case Tier.Tier1:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier2:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier3:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier4:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier5:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                        }
                    </div>

                    <div><p><img src="~/images/damage.png" />@item.Damage <img src="~/images/health.png" />@item.Health <img src="~/images/magic.png" />@item.Magic</p></div>
                </div>
            }
        </div>
    </div>
</div>
<div>
    <h5 class="font">For</h5>
    <div class="wrapperGrid">
        <div class="cardDisplay">
            @foreach (var item in ViewBag.Requested)
            {
                <div class="@item.CardTier.ToString()">
                    <div class="newCardName">@item.Champion</div>
                    <div class="newCardTier">
                        @switch (item.CardTier)
                        {
                            case Tier.Tier1:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier2:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier3:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier4:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier5:
                                {
                                    <img src="@($"/images/{item.CardTier.ToString()}.png")">
                                    break;
                                }
                        }
                    </div>
                    <div><p><img src="~/images/damage.png" />@item.Damage <img src="~/images/health.png" />@item.Health <img src="~/images/magic.png" />@item.Magic</p></div>
                </div>
            }
        </div>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Trade">Home</a>
</div>





