@model IEnumerable<StackSwapApplication.Models.Trade>

@{
    ViewData["Title"] = "ViewRequests";
}

<!-- No need for a separate header tag for styles as it should be included in the _Layout.cshtml -->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="container mt-4">
    <h1 class="font">Requests made to you..</h1>

    <table class="table table-hover">
        <thead class="thead-light">
            <tr class="font">
                <th>Bidder</th>
                <th>Request Date</th>
                <th>Status</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Buyer.Username)
                    </td>
                    <td> @Html.DisplayFor(modelItem => item.InitatedDate)</td>
                    <td class="@(item.IsComplete ? "table-success" : "table-warning")" >@(item.IsComplete ? "Complete" : "Pending")</td>
                    <td>
                        <!-- The form action should point to your controller action handling the view offer -->
                        <form asp-controller="Trade" asp-action="ViewRequests" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-primary">View Offer</button>
                        </form>
                    </td>

                </tr>
                
            }

        </tbody>
    </table>
</div>

<!-- Ensure you have these scripts included in your _Layout.cshtml or here if not using a layout -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
