@model IEnumerable<TradeUser>

@{
    ViewData["Title"] = "ViewUsers";
}


<header>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</header>
<h2 class="h2Style">Trade Center</h2>


<div class="wrapperT">

    <table class="viewTable">
        <thead>
            <tr>
               
                <th>

                    User Name
                </th>
                <th>
                    <img src="~/images/Tier1.PNG"/>
                </th>
                 <th>
                    <img src="~/images/Tier2.png"/>
                </th>
                 <th>
                    <img src="~/images/Tier3.png"/>
                </th>
                <th>
                    <img src="~/images/Tier4.png" />

                </th>
                <th>
                    <img src="~/images/Tier5.png" />
                </th>

                <th>
                    Check Out
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td id="BookId">
                        @item.Username
                    </td>
                    <td>
                        @item.Cards.Where(c=>c.CardTier == Tier.Tier1).Count()
                    </td>
                     <td>
                        @item.Cards.Where(c=>c.CardTier == Tier.Tier2).Count()
                    </td>
                    <td>
                        @item.Cards.Where(c=>c.CardTier == Tier.Tier3).Count()
                    </td>
                    <td>
                        @item.Cards.Where(c=>c.CardTier == Tier.Tier4).Count()
                    </td>
                    <td>
                        @item.Cards.Where(c=>c.CardTier == Tier.Tier5).Count()
                    </td>
   
                    <td>
                          <form action="ViewUsers/@item.GetId" method="post">
                              <button action="submit" class="btn btn-primary">View Cards</button>
                              </form>                          
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




