@model IEnumerable<StackSwapApplication.Models.CatalogueItem>

@{
    ViewData["Title"] = "Catalogue";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<h1 class="font">Catalogue</h1>

<div class="wrapperT">
    <table class="viewTable">
        <thead>
            <tr>
                @*    <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
                </th> *@
                <th scope="col" class="font">
                    @Html.DisplayNameFor(model => model.Champion)
                </th>
                <th scope="col" class="font">
                    @Html.DisplayNameFor(model => model.Tier)
                </th>
                <th scope="col" class="font">
                    @Html.DisplayNameFor(model => model.Damage)
                </th>
                <th scope="col" class="font">
                    @Html.DisplayNameFor(model => model.Magic)
                </th>
                <th scope="col" class="font">
                    @Html.DisplayNameFor(model => model.Health)
                </th>
                <th scope="col" class="font"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*    <td>
                @Html.DisplayFor(modelItem => item.Id)
                </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Champion)
                    </td>
                    <td>
                        @*  @Html.DisplayFor(modelItem => item.Tier) *@
                        @switch (item.Tier)
                        {
                            case Tier.Tier1:
                                {
                                    <label>Novice</label>

                                    <br />
                                    <img src="@($"/images/{item.Tier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier2:
                                {
                                    <div class="t1">
                                        <label>Soldier</label>

                                        <br />
                                        <img src="@($"/images/{item.Tier.ToString()}.png")">
                                    </div>

                                    break;
                                }
                            case Tier.Tier3:
                                {
                                    <label>Warrior</label>

                                    <br />
                                    <img src="@($"/images/{item.Tier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier4:
                                {
                                    <label>Legend</label>

                                    <br />
                                    <img src="@($"/images/{item.Tier.ToString()}.png")">
                                    break;
                                }
                            case Tier.Tier5:
                                {
                                    <label>Celestial</label>

                                    <br />
                                    <img src="@($"/images/{item.Tier.ToString()}.png")">
                                    break;
                                }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Damage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Magic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Health)
                    </td>
                    <td>
                        <a class="alink" asp-action="ConfirmPurchase" asp-route-id="@item.Id">BUY</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
